<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swissup\OAuth2Client\Api\EncryptorInterface" type="Swissup\OAuth2Client\Model\Data\Encryptor" />
    <preference for="Swissup\OAuth2Client\Api\BearerTokenInterface" type="Swissup\OAuth2Client\Model\Data\BearerToken" />
    <preference for="Swissup\OAuth2Client\Api\ProtectorInterface" type="Swissup\OAuth2Client\Model\Data\Protector" />
    <preference for="Swissup\OAuth2Client\Api\Data\AccessTokenInterface" type="Swissup\OAuth2Client\Model\AccessToken" />
    <preference for="Swissup\OAuth2Client\Api\Data\CredentialInterface" type="Swissup\OAuth2Client\Model\Credential" />
    <preference for="Swissup\OAuth2Client\Api\AccessTokenRepositoryInterface" type="Swissup\OAuth2Client\Model\AccessTokenRepository" />

    <type name="Swissup\OAuth2Client\Model\AccessToken">
        <plugin name="ProtectDataPlugin" type="Swissup\OAuth2Client\Plugin\Model\AccessTokenProtectDataPlugin" sortOrder="10"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="oauth2_validate_credentials" xsi:type="object">
                    Swissup\OAuth2Client\Console\Command\ValidateOAuth2CredentialsCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
